/* TODO Add site wide styles */
* {

    font-family: Arial, Helvetica, sans-serif;
    Padding: 0;
    scrollbar-width: none;
    margin: 0px;
    text-decoration: none;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}


main {
    overflow-y: hidden;
    display: flex;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
    width: 10px;
    display: flex;
    flex-direction: column-reverse;

}

::-webkit-scrollbar-track {
    display: none;
    display: flex;
    flex-direction: column-reverse;
    background: transparent;

}

::-webkit-scrollbar-thumb {
    display: none;
    display: flex;
    flex-direction: column-reverse;
    background: rgb(21, 21, 21);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    display: none;

    background: black;
}
