#audio-controls-nav-bar_div {
    background: rgb(39, 45, 51);
    grid-column: 1 / span end;
    grid-row: 10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: absolute;
    bottom: 0;
    width: 100%;
}

#song-display_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/3;
}

#audio-controls_img {
    grid-row: 1 / 4;
    width: 75px;
    height: 75px;
    padding-left: 8px;
    align-self: center;
    object-fit: cover;
}

#audio-controls_name {
    grid-row: 1/ 3;
    grid-column: 2 / end;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: "Mukta", sans-serif;
    width: 10vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#audio-controls_album-title {
    grid-row: 2/ 3;
    grid-column: 2 / end;
    align-self: end;
    font-size: 15px;
    color: rgb(124, 127, 131);
    font-family: "Mukta", sans-serif;
    width: 10vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#audio-controls_div {
    display: grid;
    grid-column: 3 / span end;
    grid-template-columns: repeat(8, 1fr);
    max-height: 10vh;
}

#navbar-player {
    width: 40vw;
    height: 50%;
    grid-row: 1;
    grid-column: 1 / span 7;
    justify-self: center;
    align-self: center;
}

#navbar-player::-webkit-media-controls-panel {
    /* background: rgb(38, 37, 37); */
}

audio::-webkit-media-controls-enclosure {
    border-radius: 5px;
    background-color: rgb(39, 45, 52);
}

audio::-webkit-media-controls-mute-button {
    color: white;
}

audio::-webkit-media-controls-play-button {
    color: white;
    background-color: white;
    border: white;

    border-radius: 50%;
}

audio::-webkit-media-controls-timeline-container {
    color: white;
    background-color: white;
}

audio::-webkit-media-controls-current-time-display {
    color: white;
}

audio::-webkit-media-controls-time-remaining-display {
    color: white;
}

audio::-webkit-media-controls-timeline {
    color: white;
}

audio::-webkit-media-controls-volume-slider-container {
    color: white;
    background-color: white;
}

audio::-webkit-media-controls-volume-slider {
    color: white;

}

audio::-webkit-media-controls-seek-back-button {
    color: white;
    background-color: white;
}

audio::-webkit-media-controls-seek-forward-button {
    color: white;
    background-color: white;
}

audio::-webkit-media-controls-rewind-button {
    color: white;
    background-color: white;
}

.queue-btn {
    font-size: 50px;
    color: darkslategray;
}

.queue-btn:hover {
    color: white;
    cursor: pointer;
}

.queue-btn:active {
    color: darkslategray;
    font-size: 48px;
}

.queue-link {
    grid-column: 6;
    grid-row: 1;
    align-self: center;
    justify-self: end;
}

.queue-link-active>span {
    color: white;
    font-size: 50px;
    cursor: default;
}

audio::-webkit-media-controls-toggle-closed-captions-button {
    color: white;
    background-color: white;
}
